.messenger {
    height: calc(100vh - 171px);
    display: flex;
    
  }
  
  .chatMenu {
    flex: 3.5;
  }
  
  .chatMenuInput {
    width: 80%;
    padding: 10px 5px 8px 20px;
    border: none;
    margin-left: 11px;
    border: 1px solid gray;
    border-radius: 21px;
  }
  
  .chatBox {
    flex: 5.5;
  }
  
  .chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
  }
  
  .chatBoxBottom {
    margin-top:-30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .chatMessageInput {
    width: 80%;
    height: 50px;
    padding: 10px;
    margin: 20px;
    border:1px solid black;
    border-radius: 10px;
  }
  
  .chatSubmitButton {
    width: 90px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #845EC2;
    color: white;
  }
  
  .chatOnline {
    flex: 3;
  }
  
  .chatMenuWrapper,
  .chatBoxWrapper,
  .chatOnlineWrapper {
    padding: 62px;
    height: 100%;
    border: 1px black solid;
    margin: 10px 20px 10px 14px;
    border-radius: 23px;
    background-color: antiquewhite;
  }
  
  .noConversationText {
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(224, 220, 220);
    cursor: default;
  }
  
  @media screen and (max-width: 768px) {
    .chatMenu {
      flex: 1;
    }
  
    .chatMenuInput {
      display: none;
    }
  
    .chatBox{
      flex: 10;
    }
  
    .chatOnline{
      flex: 1px;
    }
  }