.card-body{
    background-color: #FBEAFF;
}
.btn-acc{
    border:none;
    display: flex;
    float: right;
    border-radius: 20px;
    padding: 8px;
    background-color: #B39CD0;
    color: #fff;
    align-items: center;
}
.notification-time{
    color: red;
    margin: -10px 0px 10px 8px;
}