.register {
  padding: 5%;
  background-color: #845ec2;
  font-family: "Fira Sans", sans-serif;
}

/* .register-box{
    
} */

.register-row {
  display: flex;
}

.register-col1,
.register-col2 {
  width: 50%;
}

.register-col1 {
  background-color: #c3b1e0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.register-col2 {
  background-color: #fff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 5%;
  padding-right: 0px;
}

.register-col2 h1 {
  font-weight: 900;
  font-size: 35px;
}

.register-img {
  width: 100%;
}

.doctor-text {
  text-align: center;
  font-size: 50px;
  color: #fff;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.pass-section,
.conpass-section {
  position: relative;
}

.pass-icon {
  position: absolute;
  cursor: pointer;
  margin-left: -10%;
  margin-top: 2%;
}

.conpass-icon {
  position: absolute;
  cursor: pointer;
  margin-left: -10%;
  margin-top: 2%;
}

/* .register-form .conpass-icon {
    position: absolute;
    margin-top: 39%;
    margin-left: 72%;
    cursor: pointer;
} */

.register-form input {
  width: 75%;
  margin-bottom: 5%;
  padding: 2%;
  border-radius: 10px;
  border: #845ec2 solid 2px;
}

.register-button {
  width: 80%;
  padding: 2%;
  border-radius: 10px;
  background-color: #845ec2;
  border: #845ec2 solid 2px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.extra-text {
  color: rgba(98, 91, 91, 0.788);
}

@media screen and (max-width: 800px) {
  .register-col2 {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 800px) {
  .register-row {
    flex-direction: column;
  }

  .register-col1,
  .register-col2 {
    width: 100%;
    margin-top: 2vh;
  }

  .register-col1 {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
  }

  .register-col2 {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    padding: 0px;
    padding-top: 2%;
  }

  .register-form-part {
    padding-left: 10%;
  }

  .register-form input {
    width: 85%;
    padding: 3%;
    margin-bottom: 7%;
  }

  .register-button {
    width: 92%;
    padding: 3%;
  }
}
